/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    font-size: 15px;
}

@media (max-width: 400px) {
  .thread-list {
    width: 100%;
    display: block;
  }
  .thread-content {
    width: 100%;
    display: none;
  }
  #back-to-thread-list {
    display: none;
  }
  .body-element {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 701px) {
  .thread-list {
    display: block !important;
  }
  .thread-content {
    display: block !important;
  }
  #back-to-thread-list {
    display: none !important;
  }
  .body-element {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .body-element {
    display: none;
  }
  .thread-list {
    display: block !important;
  }
  .thread-content {
    display: block !important;
  }
  #back-to-thread-list {
    display: none !important;
  }
}

nav {
  border-bottom: 1px solid black;
}

.hidden-page {
  display: none;
}



