/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    font-size: 15px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thread-list {
  width: 30%;
  border-right: 1px solid black;
  padding-right: 10px;

  max-width: 400px;
}

.thread-item {
  max-height: 100px;
}

.body-element {
  display: flex;
  justify-content: space-around;
}

.thread-content {
  width: 60%;
}

@media (max-width: 400px) {
  .thread-list {
    width: 100%;
    display: block;
  }
  .thread-content {
    width: 100%;
    display: none;
  }
  #back-to-thread-list {
    display: none;
  }
  .body-element {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 701px) {
  .thread-list {
    display: block !important;
  }
  .thread-content {
    display: block !important;
  }
  #back-to-thread-list {
    display: none !important;
  }
  .body-element {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .body-element {
    display: none;
  }
  .thread-list {
    display: block !important;
  }
  .thread-content {
    display: block !important;
  }
  #back-to-thread-list {
    display: none !important;
  }
}

nav {
  border-bottom: 1px solid black;
}

#logged-out-buttons, #logged-in-buttons {
  padding: 5px;
}