/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    font-size: 15px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thread-list {
  width: 30%;
  border-right: 1px solid black;
  padding-right: 10px;

  max-width: 400px;
  /* width: 400px; */
}

.thread-item {
  max-height: 100px;
  /* height: 100px; */
}

.title-element {
  /* font-size: 1.2rem; */
}

.body-element {
  display: flex;
  justify-content: space-around;
}

.thread-content {
  width: 65%;
  padding-left: 20px;
}

